@import '../../App.scss';

// // background
// $Softblue: #F0F4F8;
// // text
// $Charcoalgray: #333333;

// // (Buttons/CTA)
// $Crimsonred : #DC143C;
// // (Secondary)
// $Forestgreen : #228B22;

// // (Borders/Dividers)
// $Lightgray : #CCCCCC;
// // (Background Elements)
// $White : #FFFFFF;

// $Goldenyellow: #FFD700;
// $Slateblue: #6A5ACD;
/* font-family: 'Lato', sans-serif; */
// font-family: 'Roboto', sans-serif;

.footer {
    font-family: 'Roboto', sans-serif;
    background-color: $Lightgray;
    width: 100%;
    height: 5rem;
    @include tablet {
        height: fit-content;
    }

    .container {
        max-width: 1300px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;

        @include tablet {
            flex-direction: column;
            gap: 10px;
        }

        img {
            width: 100px;

            @include tablet {
                width: 80px;
            }
        }

        p {
            font-weight: 400;
            display: flex;
            gap: 5px;
            align-items: center;
            font-size: 0.8rem;

            @include tablet {
                font-size: 0.7rem;
            }
            
            .name {
                font-weight: 700;
                color: rgb(192, 133, 23);
                font-size: 1.3rem;

                @include tablet {
                    font-size: 1rem;
                }
            }
        }
    }
}